<div class="top-slider__section">
  <div class="container">
    <h2 class="text-uppercase">{{ heading_title }}</h2>
    <div id="product-top-slider-{{ module }}" class="product-slider slider">
      <div  class="swiper-container product-slider__container">
        <div class="swiper-wrapper">
          {% for product in products %}
            <div class="swiper-slide product-layout">
              <div class="product-thumb transition">
                <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                <div class="caption">
                  <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                  {#              <p>{{ product.description }}</p>#}
                  {#              {% if product.rating %}#}
                  {#                <div class="rating">{% for i in 1..5 %}#}
                  {#                    {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}#}
                  {#                  {% endfor %}</div>#}
                  {#              {% endif %}#}
                  {% if product.price %}
                    <p class="price"> {% if not product.special %}
                        {{ product.price }}
                      {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                      {#                  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>#}
                    </p>
                  {% endif %} </div>
                <div class="button-group__position">
                  <div class="button-group">
                    <button type="button" onclick="cart.add('{{ product.product_id }}');">
                      <svg class="icon display-block" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.0625 17.0627C6.61478 17.0627 7.0625 16.615 7.0625 16.0626C7.0625 15.5103 6.61478 15.0625 6.0625 15.0625C5.51022 15.0625 5.0625 15.5103 5.0625 16.0626C5.0625 16.615 5.51022 17.0627 6.0625 17.0627Z" fill="black"/>
                        <path d="M15.4375 17.0627C15.9898 17.0627 16.4375 16.615 16.4375 16.0626C16.4375 15.5103 15.9898 15.0625 15.4375 15.0625C14.8852 15.0625 14.4375 15.5103 14.4375 16.0626C14.4375 16.615 14.8852 17.0627 15.4375 17.0627Z" fill="black"/>
                        <path d="M3.5 4.12501H17.1262C17.2178 4.12501 17.3082 4.14511 17.3911 4.18391C17.474 4.2227 17.5474 4.27924 17.606 4.34951C17.6647 4.41979 17.7072 4.5021 17.7306 4.59061C17.7539 4.67912 17.7575 4.77168 17.7412 4.86175L16.3783 12.3618C16.3521 12.5058 16.2762 12.636 16.1639 12.7298C16.0515 12.8236 15.9097 12.875 15.7634 12.875H5.61865C5.47233 12.875 5.33066 12.8237 5.2183 12.73C5.10595 12.6362 5.03003 12.5061 5.00378 12.3621L3.02535 1.51288C2.9991 1.36894 2.92319 1.23877 2.81083 1.14505C2.69847 1.05133 2.5568 1 2.41049 1H1" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                    <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                      <svg class="icon display-block" width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.6455 4.72507C17.6455 3.34694 17.2373 2.44717 16.4209 2.02576C15.6045 1.60434 14.7757 1.39364 13.9346 1.39364C13.5387 1.39364 13.1367 1.47906 12.7285 1.6499C12.3203 1.82074 11.9399 2.02291 11.5874 2.25639C11.2349 2.48988 10.9225 2.73191 10.6504 2.98248C10.3659 3.23305 10.1556 3.43236 10.0195 3.58043C9.89583 3.7171 9.72266 3.78544 9.5 3.78544C9.27734 3.78544 9.10417 3.7171 8.98047 3.58043C8.8444 3.43236 8.63411 3.23305 8.34961 2.98248C8.07747 2.73191 7.76514 2.48988 7.4126 2.25639C7.06006 2.02291 6.67969 1.82074 6.27148 1.6499C5.86328 1.47906 5.46126 1.39364 5.06543 1.39364C4.22428 1.39364 3.39551 1.60434 2.5791 2.02576C1.7627 2.44717 1.35449 3.34694 1.35449 4.72507C1.35449 5.16926 1.45964 5.59637 1.66992 6.00639C1.86784 6.42781 2.09049 6.79797 2.33789 7.11687C2.58529 7.43578 2.81413 7.69204 3.02441 7.88566C3.2347 8.07929 3.33984 8.18179 3.33984 8.19318L9.5 13.6602L15.6416 8.19318C15.654 8.18179 15.7653 8.07929 15.9756 7.88566C16.1859 7.69204 16.4147 7.43578 16.6621 7.11687C16.9095 6.79797 17.1322 6.42781 17.3301 6.00639C17.5404 5.59637 17.6455 5.16926 17.6455 4.72507ZM19 4.72507C19 5.30594 18.8763 5.85833 18.6289 6.38225C18.3939 6.90617 18.1248 7.36744 17.8218 7.76607C17.5187 8.16471 17.2435 8.48361 16.9961 8.72279C16.7363 8.96197 16.5941 9.09295 16.5693 9.11573L9.96387 14.9756C9.90202 15.0326 9.83089 15.0753 9.75049 15.1038C9.67008 15.1322 9.58659 15.1465 9.5 15.1465C9.41341 15.1465 9.32992 15.1322 9.24951 15.1038C9.16911 15.0753 9.09798 15.0326 9.03613 14.9756L2.41211 9.09865C2.39974 9.07587 2.26367 8.94489 2.00391 8.70571C1.74414 8.46653 1.46582 8.15047 1.16895 7.75753C0.87207 7.36459 0.60612 6.90617 0.371094 6.38225C0.123698 5.85833 0 5.30594 0 4.72507C0 4.00753 0.117513 3.36402 0.352539 2.79455C0.575195 2.23646 0.906087 1.76095 1.34521 1.36801C1.78434 0.975073 2.31315 0.676098 2.93164 0.471087C3.5625 0.254685 4.27376 0.146485 5.06543 0.146485C5.99316 0.146485 6.85905 0.402749 7.66309 0.915277C8.46712 1.42781 9.07943 1.87769 9.5 2.26494C9.92057 1.87769 10.5329 1.42781 11.3369 0.915277C12.141 0.402749 13.0068 0.146485 13.9346 0.146485C14.7262 0.146485 15.4375 0.254685 16.0684 0.471087C16.6868 0.676098 17.2157 0.975073 17.6548 1.36801C18.0939 1.76095 18.4248 2.23646 18.6475 2.79455C18.8825 3.36402 19 4.00753 19 4.72507Z" fill="black"/>
                      </svg>
                    </button>
                    {#              <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">#}
                    {#                <i class="fa fa-exchange"></i>#}
                    {#              </button>#}
                    <button type="button" class="btn-block boc_order_category_btn" data-target="#boc_order" data-product="{{ product.name }}" data-product_id="{{ product.product_id }}">
                      <svg class="icon display-block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_926)">
                          <path d="M19.3447 6.91082C19.3447 6.91082 19.4072 6.84832 19.5322 6.72332C19.6572 6.59832 19.7197 6.35725 19.7197 6.0001C19.7197 5.64296 19.5947 5.33939 19.3447 5.08939C19.0947 4.83939 18.7911 4.71439 18.434 4.71439C18.0768 4.71439 17.7733 4.83939 17.5233 5.08939C17.2733 5.33939 17.1483 5.64296 17.1483 6.0001C17.1483 6.35725 17.2733 6.66082 17.5233 6.91082C17.7733 7.16082 18.0768 7.28582 18.434 7.28582C18.7911 7.28582 19.0947 7.16082 19.3447 6.91082ZM22.7197 2.14296C22.7197 4.36618 22.3826 6.28805 21.7085 7.90859C21.0344 9.52912 19.9027 11.1385 18.3134 12.7367C17.5902 13.451 16.7197 14.2367 15.7018 15.0939L15.434 20.1697C15.4161 20.3126 15.3447 20.4287 15.2197 20.518L10.0768 23.518C10.0143 23.5537 9.9429 23.5715 9.86254 23.5715C9.7554 23.5715 9.65272 23.5314 9.5545 23.451L8.69736 22.5939C8.58129 22.4689 8.54558 22.326 8.59022 22.1653L9.72861 18.4689L5.96522 14.7055L2.26879 15.8439C2.242 15.8528 2.20183 15.8572 2.14825 15.8572C2.02325 15.8572 1.92058 15.8171 1.84022 15.7367L0.983076 14.8796C0.83129 14.7099 0.808969 14.5358 0.916112 14.3572L3.91611 9.21439C4.0054 9.08939 4.12147 9.01796 4.26433 9.0001L9.34022 8.73225C10.1974 7.71439 10.9831 6.84385 11.6974 6.12064C13.3759 4.451 14.9741 3.29921 16.492 2.66528C18.0099 2.03135 19.934 1.71439 22.2643 1.71439C22.3893 1.71439 22.4965 1.7568 22.5858 1.84162C22.675 1.92644 22.7197 2.02689 22.7197 2.14296Z" fill="black"/>
                        </g>
                        <defs>
                          <clipPath id="clip0_1_926">
                            <rect width="22.2969" height="24" fill="white" transform="matrix(1 0 0 -1 0.84375 24)"/>
                          </clipPath>
                        </defs>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-pager">
        <div class="swiper-button-next slider-btn">
          <svg width="26" height="48" viewBox="0 0 26 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.2246 24.1113L24.9317 24.8184C25.3222 24.4279 25.3222 23.7947 24.9317 23.4042L24.2246 24.1113ZM0.405196 1.70613L23.5175 24.8184L24.9317 23.4042L1.81941 0.291918L0.405196 1.70613ZM23.5175 23.4042L0.405196 46.5165L1.81941 47.9307L24.9317 24.8184L23.5175 23.4042Z" fill="black"/>
          </svg>

        </div>
        <div class="swiper-button-prev slider-btn">
          <svg width="26" height="48" viewBox="0 0 26 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.77539 24.1123L1.06829 23.4052C0.677764 23.7957 0.677763 24.4289 1.06829 24.8194L1.77539 24.1123ZM25.5948 46.5175L2.4825 23.4052L1.06829 24.8194L24.1806 47.9317L25.5948 46.5175ZM2.4825 24.8194L25.5948 1.70711L24.1806 0.292893L1.06829 23.4052L2.4825 24.8194Z" fill="black"/>
          </svg>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="shop-link__block">
  <a class="shop-link" href="/index.php?route=product/category&path=67">До магазину
    <svg class="icon" width="62" height="24" viewBox="0 0 62 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M61.0607 13.0607C61.6465 12.4749 61.6465 11.5251 61.0607 10.9393L51.5147 1.3934C50.9289 0.807616 49.9792 0.807616 49.3934 1.3934C48.8076 1.97919 48.8076 2.92894 49.3934 3.51472L57.8787 12L49.3934 20.4853C48.8076 21.0711 48.8076 22.0208 49.3934 22.6066C49.9792 23.1924 50.9289 23.1924 51.5147 22.6066L61.0607 13.0607ZM-1.31134e-07 13.5L60 13.5L60 10.5L1.31134e-07 10.5L-1.31134e-07 13.5Z" fill="black"/>
    </svg>
  </a>
</div>
<script type="text/javascript">
  $('#product-top-slider-{{ module }} .product-slider__container').swiper({
    mode: 'horizontal',
    slidesPerView: 4,
    spaceBetween: 30,
    breakpoints:{
      768:{
        slidesPerView: 1,
        spaceBetween: 30,
      },
      1200:{
        slidesPerView: 3,
        spaceBetween: 30,
      },
    },
    {#pagination: '.carousel{{ module }}',#}
    paginationClickable: true,
    nextButton: '#product-top-slider-{{ module }} .swiper-button-next',
    prevButton: '#product-top-slider-{{ module }} .swiper-button-prev',

    autoplay: 2500,
    loop: true
  });
  console.log($('#product-top-slider-{{ module }}'))
  </script>
{#
<div class="row"> {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p>{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">{% for i in 1..5 %}
          {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
          {% endfor %}</div>
        {% endif %}
        {% if product.price %}
        <p class="price"> {% if not product.special %}
          {{ product.price }}
          {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
          {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
        {% endif %} </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {% endfor %} </div>
#}
